.error {
    padding: 10px;
    color: crimson;
    border: 2px dotted crimson;
    font-size: 20px;
}

.success {
    padding: 10px;
    color: lime;
    border: 2px dotted lime;
    font-size: 20px;
}

.size {
    padding: 10px;
    border: 2px dotted cyan;
    font-size: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
}
